<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>{{ page.title }}</title>
    <style type="text/css">
    	.smallercontainer {
    		padding-left: 50px;
    		padding-right: 50px;
    		padding-top: 20px;
    		padding-bottom: 20px
    	}
    </style>
</head>

<body>
    <div class="container" style="padding-bottom: 50px">
    	<h1>BLM and Me</h1>
        {{ content }}

        <br>

        <center><i><h5>You can click any of the templates, and all you have to do is hit send. It will come with the number/email and content filled out for you already.</h5></i></center>

        <br>
        <h3>SMS/Text Message Templates</h3>
        <div class="smallercontainer">
            {% for post in site.links %}
            {% if post.type == "sms" %}
            <h5>{{post.representation}} -
                <a href="sms:{{post.number}}&body={{post.body}}">
                    {{post.title}}
                </a>
            </h5>
            <p>{{post.impact}}</p>
            <br>
            {% endif %}
            {% endfor %}
        </div>
        <h3>Email Templates</h3>
        <div class="smallercontainer">
            {% for post in site.links %}
            {% if post.type == "email" %}
            {% assign body = post.body | newline_to_br | strip_newlines | replace: '<br />', '%0D%0A%0D%0A' %}
            <h5>{{post.representation}} -
                <a href="mailto:{{post.addresses}}?subject={{post.subject}}&body={{body}}">
                    {{post.title}}
                </a>
            </h5>
            <p>{{post.impact}}</p>
            {% endif %}
            {% endfor %}
        </div>
        <h3>Petitions</h3>
        <div class="smallercontainer">
            {% for post in site.links %}
            {% if post.type == "petition" %}
            <h5>{{post.representation}} -
                <a href="{{post.link}}">
                    {{post.title}}
                </a>
            </h5>
            <p>{{post.impact}}</p>
            <br>
            {% endif %}
            {% endfor %}
        </div>
        <h3>Fundraisers</h3>
        <div class="smallercontainer">
            {% for post in site.links %}
            {% if post.type == "donation" %}
            <h5>{{post.representation}} -
                <a href="{{post.link}}">
                    {{post.title}}
                </a>
            </h5>
            <p>{{post.impact}}</p>
            <br>
            {% endif %}
            {% endfor %}
        </div>
        <h4>Have more links to contribute? <a href="https://forms.gle/JSdZQPEU7GqKc2mT7">Fill out this Google Form</a> or <a href="https://github.com/andykamath/blmandme">PR on GitHub</a></h4>
        <h6>Made with <i class="fa fa-heart red-text"></i> in New Jersey</h6>
    </div>
</body>

</html>